/*****imports*****/

@import "imports/_variables.scss";

/*****code css*****/

.loading {
    width: 200px;
    height: 200px;
    margin: 250px auto;
    position: relative;
    div {
        position: absolute;
        top: 50px;
        left: calc((100% - 70px) / 2);
        width: 70px;
        height: 70px;
        border-top: 2px solid $secondaire;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }
    div:nth-child(2) {
        position: absolute;
        top: 60px;
        left: calc((100% - 70px) / 2 + 10px);
        width: 50px;
        height: 50px;
        border-top: 2px solid $primaire;
        border-radius: 50%;
        animation-direction: reverse;
        animation-duration: 1.5s;
    }
    div:nth-child(3) {
        position: absolute;
        top: 70px;
        left: calc((100% - 70px) / 2 + 20px);
        width: 30px;
        height: 30px;
        border-top: 2px solid $tertiaire;
        border-radius: 50%;
        animation-duration: 1s;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    #logo__spinner {
        position: absolute;
        top: 100%;
        left: -50%;
        path {
            animation: line-anim 3s ease forwards;
        }
        path:nth-child(2) {
            stroke-dasharray: 194px;
            stroke-dashoffset: 194px;
        }
        path:nth-child(3) {
            stroke-dasharray: 260px;
            stroke-dashoffset: 260px;
        }
        path:nth-child(4) {
            stroke-dasharray: 342px;
            stroke-dashoffset: 342px;
        }
        path:nth-child(5) {
            stroke-dasharray: 253px;
            stroke-dashoffset: 253px;
        }
        path:nth-child(6) {
            stroke-dasharray: 211px;
            stroke-dashoffset: 211px;
        }
        path:nth-child(7) {
            stroke-dasharray: 194px;
            stroke-dashoffset: 194px;
        }
        path:nth-child(8) {
            stroke-dasharray: 194px;
            stroke-dashoffset: 194px;
        }
        path:nth-child(9) {
            stroke-dasharray: 244px;
            stroke-dashoffset: 244px;
        }
        @keyframes line-anim {
            to {
                stroke-dashoffset: 0;
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: $fontText;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100px;
    }
    .search__box {
        width: 100vw;
        height: 100px;
        background-color: rgb(220, 220, 220);
        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 10px 15px 0px #9b9b9b;
            ;
            i {
                color: rgb(61, 61, 61);
                font-size: 1.3rem;
                margin-right: 30px;
            }
            input {
                border: none;
                background: none;
                font-size: 1.3rem;
                &::placeholder {
                    color: #414141;
                }
            }
        }
    }
    .slogan {
        padding-top: 10%;
        width: 100vw;
        height: 600px;
        background-color: rgb(230, 230, 230);
        h1 {
            font-size: 2.4rem;
            text-align: center;
            font-weight: bold;
        }
        p {
            font-size: 1.6rem;
            text-align: center;
            color: #616161;
            margin-top: 5%;
        }
        .button__explore {
            background: linear-gradient(-200deg, $secondaire, $primaire);
            height: 50px;
            width: 300px;
            border-radius: 50px;
            text-align: center;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 5%;
            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #fff;
                font-size: 1.4rem;
                padding-top: 10px;
            }
        }
    }
}