@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

/*****colors*****/

$primaire: #9356DC;
$secondaire: #fc8cdc;
$tertiaire: #99E2D0;

/*****fonts*****/

$fontTitle: 'Shrikhand',
cursive;
$fontText: 'Roboto',
sans-serif;