@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

/*****colors*****/

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$palette: #255ff4 #ffffff;

/*****fonts*****/

$fontTitle: 'Shrikhand',
cursive;
$fontText: 'Roboto',
sans-serif;